html,
body {
  height: 100%;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-family: "Muli", sans-serif;
  color: #a9a9a9;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}

/* Button */
.button {
  display: inline-block;
  font-size: 14px;
  color: white;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 17px 30px 16px;
}

.btn-1 {
  background: #E11299;
  text-decoration: none;
}
.btn-1:hover {
  background: black;
  border-color: #E11299;
}

.btn-2 {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #E11299;
  border-image: initial;
}
.btn-2:hover {
  background: #E11299;
  border-color: #E11299;
}

.float-animation {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.float-animation:hover {
  background-color: rgba(225, 18, 152, 0.4117647059);
  transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -moz-transform: translate(0px, 10px);
}

.grow {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.grow:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.header-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 15px;
  padding-top: 1rem;
  z-index: 99;
}
.header-section a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  position: relative;
  transition: all 0.3s;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media only screen and (max-width: 980px) {
  .header-section {
    background-color: rgba(31, 31, 31, 0.6549019608);
  }
}
.header-pages {
  height: 500px;
  padding-top: 230px;
  background-image: url(../images/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-pages h2 {
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(24, 24, 24, 0.299), 0 0 0.2em rgb(19, 19, 19);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-position: center;
}

.header-index {
  margin-bottom: 15%;
  text-shadow: 1px 1px 2px rgba(19, 19, 19, 0.217), 0 0 1em rgba(24, 24, 24, 0.137), 0 0 0.2em rgba(19, 19, 19, 0.217);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.header-index span {
  display: block;
  font-size: 20px;
  letter-spacing: 4px;
}
.header-index .text-title {
  font-size: 100px;
  position: relative;
}
.header-index .text-title strong {
  color: #E11299;
}
.header-index .title-index {
  position: relative;
  top: 0;
}

.section-title {
  text-align: center;
  margin: 10px;
}
.section-title h2 {
  color: white;
}

.footer {
  background: black;
  color: white;
}

.links ul {
  list-style-type: none;
}
.links ul li a {
  color: white;
  text-decoration: none;
}
.links ul li a:hover {
  color: #E11299;
}

.copyright p {
  border-top: 1px solid #a9a9a9;
}

.about-company img {
  max-width: 15%;
}
.about-company a {
  color: #E11299;
}

/*Index*/
.card {
  background-color: #091014;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_item {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.card_image {
  max-height: 250px;
  margin-top: -24px;
}
.card_image img {
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}
.card_image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
  top: -100px;
  background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
}

.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}

.card_title {
  line-height: 72px;
  margin-top: -50px;
  text-shadow: black 1px 0 15px;
  color: white;
}

/*Horarios*/
.tbl {
  width: 100%;
  color: white;
}

.tbl-header {
  background-color: #E11299;
}

.tbl-content {
  height: 300px;
  margin-top: 0px;
  text-align: center;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}

/*Tienda*/
.card-body {
  background-color: white;
}
.card-body h2 {
  font-size: 60px;
  color: #E11299;
  text-align: center;
}

.card-img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.pricing-btn {
  display: block;
  background: #333333;
  color: white;
  font-size: 14px;
  padding: 17px 30px 16px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.pricing-btn:hover {
  background: #E11299;
}

/*Actividades*/
.services-section {
  background: #151515;
}

.ss-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ss-text {
  background: #252525;
  padding: 30px 30px;
  height: 330px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.ss-text:hover {
  background: #363636;
}
.ss-text:hover a {
  color: #e11299;
}
.ss-text:hover:after {
  background: #363636;
}
.ss-text:after {
  position: absolute;
  left: -15px;
  top: 50%;
  height: 20px;
  width: 20px;
  background: #252525;
  content: "";
  -webkit-transform: rotate(45deg) translateY(-10px);
  -ms-transform: rotate(45deg) translateY(-10px);
  transform: rotate(45deg) translateY(-10px);
  z-index: -1;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.ss-text .second-row:after {
  left: auto;
  right: 0;
}
.ss-text h4 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
}
.ss-text p {
  margin-bottom: 11px;
}
.ss-text a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*Equipo*/
.card-team {
  text-align: center;
  /* padding: 40px 30px 52px; */
  border: 1px solid #464646;
  position: relative;
  background: #151515;
}
.card-team h3 {
  color: white;
}
.card-team:hover {
  background: white;
  border-color: white;
  transform: scale3d(1.2, 1.2, 0.3);
  -webkit-transform: scale3d(1.2, 1.2, 0.3);
  -moz-transform: scale3d(1.2, 1.2, 0.3);
}
.card-team:hover h3 {
  color: #111111;
}
.card-team .primary-btn {
  background: #E11299;
}

.card-img-team {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=styles.css.map */
