.card-body {
    background-color: nth($colors, 3);

    h2 {
        font-size: 60px;
        color: nth($colors, 5);
        text-align: center;
    }
}

.card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}