$text-color:nth($colors, 3);

@mixin header {
    text-align: center;
    margin-bottom: 15%;
    color:  map-get($cabecera , text_color ) ;
}


.nav-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 15px;
    padding-top: 1rem;
    z-index: 99;

    a {
        color: $text-color; 
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: "Oswald", sans-serif;
        position: relative;
        transition: all 0.3s;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header-pages {
    @include header(); 
    height: 500px;
    padding-top: 230px;
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: 60px;
        text-shadow: 1px 1px 2px nth($colors, 1), 0 0 1em rgba(24, 24, 24, 0.299), 0 0 0.2em rgb(19, 19, 19);
        font-weight: 600;
        text-transform:map-get($cabecera , text_transform ) ;
        margin-bottom: 15px;
        background-position: center;
    }
}


.header-index {
    @include header();   
    
    text-transform: map-get($cabecera , text_transform );
    font-weight: 700;

    span {
        display: block;
        font-size: 20px;
        letter-spacing: 4px;
    }

    .text-title {
        font-size: 100px;
        position: relative;
        text-shadow: map-get($cabecera , text_shadow );
        strong {
            color: nth($colors, 5);
        }
    }

    .title-index {
        position: relative;
        top: 0;
    }
}

.section-title {
    @include header();

    h2 {
        color: $text-color;
    }
}
